* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background-color: cornflowerblue;
}

.navlist {
    display: flex;
    list-style: none;
    
}

.navlist a {
    display: block;
    font-size: 1.5em;
    padding: .75em .5em;
}

.navlist a:hover {
  background-color: darkgreen;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 10, 85);
    color: #fff;
    width: 100%;
    height: 100vh;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-tile {
  margin: 1em;
}

.project-tile:hover {
  color:#aaa;
}

figcaption {
  text-align: center;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 60%;
  }
}




